@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Севастопольский торгово экономический техникум</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Здравствуйте</h2>
    </div>
    <div class="col-md-4">
        <h2>Сделать свой проект</h2>
        <p>Вы можете сделать свой проект</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скачать</h2>
        <p>Вы можете скачать полный проект</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Посмотреть &raquo;</a></p>
    </div>
</div>ы
